<h2 mat-dialog-title class="title">Tell me who you are and {{title.toLowerCase()}}</h2>
<div mat-dialog-content>
  <form [formGroup]="authForm" novalidate name="authForm" class="main-content">
    <mat-form-field>
      <input name="authEmail" [(ngModel)]="email" formControlName="email"
      matInput placeholder="Email" matTooltipPosition="below"
      [matTooltip]="authForm.controls['email'].invalid && authForm.controls['email'].touched ? 'Invalid email address': null" />
    </mat-form-field>
    <mat-form-field *ngIf="data.dialogType === dialogType.SignUp">
      <input name="authUserName" [(ngModel)]="userName" formControlName="userName"
      matInput placeholder="Username" matTooltipPosition="below"
      [matTooltip]="authForm.controls['userName'].invalid && authForm.controls['userName'].touched ? 'Invalid user name': null" />
    </mat-form-field>
    <mat-form-field>
      <input name="authPassword" [(ngModel)]="password" formControlName="password"
      matInput [type]="hidePass ? 'password' : 'text'" placeholder="Password" matTooltipPosition="below"
      [matTooltip]="authForm.controls['password'].invalid && authForm.controls['password'].touched ? 'A password have to contain at least 8 symbols': null" />
      <mat-icon matSuffix (click)="hidePass = !hidePass">{{hidePass ? 'visibility' : 'visibility_off'}}</mat-icon>
    </mat-form-field>
    <div class="avatar-container">
      <mat-icon aria-label="Send" (click)="removeAvatar()">close</mat-icon>
      <img mat-card-image class="avatar-image" *ngIf="avatar && avatar !== defaultAvatar" mat-card-image src="{{avatar}}" alt="Photo">
    </div>
    <mat-card-actions align="end" *ngIf="data.dialogType === dialogType.SignUp">
      <input hidden #file accept="image/*" type="file" (change)="uploadAvatar($event.target)" />
      <button mat-icon-button color="accent"  matTooltip="Choose an avatar image" matTooltipPosition="below" (click)="file.click()">
        <mat-icon aria-label="Choose an image">image</mat-icon>
      </button>
    </mat-card-actions>
  </form>
</div>
<div class="actions">
  <button mat-raised-button (click)="close()">Back</button>
  <button *ngIf="data.dialogType === dialogType.SignUp" mat-raised-button color="primary" [disabled]="authForm.invalid"
    (click)="signUp()">{{title}}</button>
  <button *ngIf="data.dialogType === dialogType.SignIn" mat-raised-button color="primary" [disabled]="authForm.controls['email'].invalid || authForm.controls['password'].invalid"
    (click)="signIn()">{{title}}</button>
</div>
