<mat-card-content>
  <mat-form-field>
    <textarea [(ngModel)]="postUpdate.body" matInput placeholder="Write something..."></textarea>
  </mat-form-field>
  <div class="image-container">
    <mat-icon aria-label="Send" (click)="removeImage()">close</mat-icon>
    <img mat-card-image class="post-image" *ngIf="postUpdate.previewImage" mat-card-image src="{{postUpdate.previewImage}}" alt="Photo">
  </div>
</mat-card-content>
<mat-card-actions align="end">
  <input hidden #file accept="image/*" type="file" (change)="loadImage($event.target)">
  <button mat-icon-button color="accent" (click)="file.click()">
    <mat-icon aria-label="Choose an image">image</mat-icon>
  </button>
  <button mat-icon-button color="primary" matTooltip="Update it" (click)="updatePost()">
    <mat-icon aria-label="Update">edit</mat-icon>
  </button>
</mat-card-actions>