<mat-card>
  <mat-card-header>
    <img mat-card-avatar src="{{comment.author.avatar}}" alt="Avatar">
    <mat-card-title>{{comment.author.userName}} </mat-card-title>
    <div>{{comment.createdAt | date:'d/M/yy, h:mm a'}}</div>
  </mat-card-header>
  <mat-card-content *ngIf="!showUpdate">
    <p>{{comment.body}}</p>
  </mat-card-content>
  <mat-card-actions *ngIf="currentUser.id === comment.author.id" class="control-buttons">
    <button mat-icon-button (click)="openUpdateDialog()" [style.background-color]="showUpdate?'#92a8d1':'#fff'">
      <mat-icon aria-label="Update">edit</mat-icon>
    </button>
    <button mat-icon-button (click)="deleteComment()">
      <mat-icon aria-label="Delete">delete</mat-icon>
    </button>
  </mat-card-actions>
  <mat-card-actions class="actions-buttons" align="end">
    <button mat-icon-button color="primary" (click)="setCommentReaction(true)">
      <mat-icon [matBadge]="likesNumber" matBadgeColor="accent" matBadgeSize="small"
        [matBadgeHidden]="likesNumber === 0" aria-label="Like">thumb_up_alt</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="setCommentReaction(false)">
      <mat-icon [matBadge]="dislikesNumber" matBadgeColor="accent" matBadgeSize="small"
        [matBadgeHidden]="dislikesNumber === 0" aria-label="Dislike">thumb_down_alt</mat-icon>
    </button>
    <button mat-icon-button color="accent">
      <mat-icon aria-label="Share">share</mat-icon>
    </button>
  </mat-card-actions>
  <mat-card-actions align="end">
    <button class="likes-button" *ngIf="likesNumber !== 0" mat-button (click)="openLikesDialog()">Likes for...</button>
  </mat-card-actions>
  <app-update-comment *ngIf="showUpdate" [commentUpdate]="commentUpdate" (onUpdated)="updateComment($event)"></app-update-comment>
</mat-card>
