.post-image
    width: auto
    height: 100px
    max-width: 100%
    margin: 10px auto  

.image-container
    position: relative
    width: fit-content
    .mat-icon
        display: none
    &:hover
        .mat-icon
            display: inline-block
            position: absolute
            right: -20px
            top: -7px
            cursor: pointer

textarea
    min-height: 60px

mat-form-field
    width: 100%