<mat-card class="main-content align-center">
  <div *ngIf="loading" class="mat-spinner-wrapper">
    <mat-spinner></mat-spinner>
  </div>
  <div class="avatar-container" (click)="file.click()">
    <input hidden class="file-hide" #file accept="image/*" type="file" (change)="handleFileInput($event.target)">
    <img class="avatar avatar-style" src="{{user.avatar}}" alt="Here should be an avatar">
    <div class="img-text">
      Upload
    </div>
  </div>
  <form name="userForm" [formGroup]="profileForm" class="main-content">
    <mat-form-field>
      <input name="email" [(ngModel)]="user.email" formControlName="email" matInput placeholder="Email" matTooltipPosition="below"
      [matTooltip]="profileForm.controls['email'].invalid && profileForm.controls['email'].touched ? 'Invalid email': null" />
    </mat-form-field>
    <mat-form-field>
      <input name="username" [(ngModel)]="user.userName"  formControlName="userName" matInput placeholder="userName" matTooltipPosition="below"
      [matTooltip]="profileForm.controls['userName'].invalid && profileForm.controls['userName'].touched ? 'Invalid user name': null" >
    </mat-form-field>
  </form>
  <div class="buttons">
    <button mat-raised-button color="primary" [disabled]="profileForm.invalid" (click)="saveNewInfo()">
      Save
    </button>
    <button mat-raised-button (click)="goBack()">
      Back
    </button>
  </div>
</mat-card>
