<mat-card-content>
  <mat-form-field>
    <textarea [(ngModel)]="commentUpdate.body" matInput placeholder="Comment it..."></textarea>
  </mat-form-field>
</mat-card-content>
<mat-card-actions align="end">
  <button mat-icon-button color="primary" matTooltip="Update it" (click)="updateComment()">
    <mat-icon aria-label="Update">edit</mat-icon>
  </button>
</mat-card-actions>
