mat-form-field
    width: 100%

.actions
    display: flex
    justify-content: space-around
    padding: 8px 0
    button
        width: 100px

.share-options
    display: flex
    justify-content: center
    height: 40px
    padding: 2px 0px
    button
        margin: 0px 5px

mat-card
    margin-bottom: 10px