<div *ngIf="selectedDialogType === shareDialogType.None">
    <h2 mat-dialog-title>How do you want to share the post?</h2>
    <div class="share-options" mat-dialog-content>
        <button mat-raised-button>
            <mat-icon aria-label="Email" (click)="changeDialogType(shareDialogType.Email)">
                email
            </mat-icon>
        </button>
        <button mat-raised-button (click)="changeDialogType(shareDialogType.Link)">
            <mat-icon aria-label="Link">
                link
            </mat-icon>
        </button>
    </div>
</div>
<div *ngIf="selectedDialogType === shareDialogType.Email">
    <h2 mat-dialog-title>Type a target email address</h2>
    <div mat-dialog-content>
        <form [formGroup]="shareGroup" novalidate (ngSubmit)="sharePostByEmail()">
            <mat-form-field>
                <input type="text" placeholder="Email" matInput formControlName="email" [(ngModel)]="targetEmail">
            </mat-form-field>
        </form>
    </div>
    <div class="actions">
        <button mat-raised-button (click)="changeDialogType(shareDialogType.None)">Back</button>
        <button mat-raised-button color="primary" [disabled]="shareGroup.invalid" (click)="sharePostByEmail()">Share</button>
    </div>
</div>
<div *ngIf="selectedDialogType === shareDialogType.Link">
    <h2 mat-dialog-title>The post is available by the following link</h2>
    <mat-card>
        <p>Link... :)</p>
    </mat-card>
    <div class="actions">
        <button mat-raised-button (click)="changeDialogType(shareDialogType.None)">Back</button>
    </div>
</div>