mat-card-actions button
    margin-right: 8px

mat-card-actions
    margin: 5px
    padding: 0px

mat-card-header
    display: flex
    align-items: center
    mat-card-title
        margin: 0px
        .date
            color: rgba(0, 0, 0, 0.5)

mat-card-content
    font-size: 15px
    margin: 0

mat-icon
    font-size: 22px

.post-content
    margin-top: 30px

.post-with-comments
    padding-bottom: 0

.mat-badge-content
    font-size: 10px

.new-comment
    width: 100%
    display: flex
    flex-direction: row
    align-items: center
    padding: 20px 0
    .mat-form-field
        width: 100%

.comments-count
    width: 100%
    text-align: center
    color: rgba(0, 0, 0, 0.5)
    margin-bottom: 5px

.control-buttons
    float: left
