<mat-card [ngClass]="{'post-with-comments': showComments}">
  <mat-card-header>
    <img mat-card-avatar src="{{post.author.avatar}}" alt="Avatar">
    <mat-card-title>{{post.author.userName}}</mat-card-title>
    <div class="date">{{post.createdAt | date:'d/M/yy, h:mm a'}}</div>
  </mat-card-header>
  <div class="post-content" *ngIf="!showUpdate">
    <img mat-card-image *ngIf="post.previewImage" mat-card-image src="{{post.previewImage}}" alt="Photo">
    <mat-card-content>
      <p>{{post.body}}</p>
    </mat-card-content>
  </div>
  <mat-card-actions *ngIf="currentUser && post.author.id === currentUser.id" class="control-buttons" align="start">
    <button mat-icon-button (click)="openUpdateDialog()" [style.background-color]="showUpdate?'#92a8d1':'#fff'">
      <mat-icon aria-label="Edit">edit</mat-icon>
    </button>
    <button mat-icon-button (click)="deletePost()">
      <mat-icon aria-label="Delete">delete</mat-icon>
    </button>
  </mat-card-actions>
  <mat-card-actions class="actions-buttons" align="end">
    <button mat-icon-button color="primary" (click)="setPostReaction(true)">
      <mat-icon [matBadge]="likesNumber" matBadgeColor="accent" matBadgeSize="medium" k
        [matBadgeHidden]="likesNumber === 0" aria-label="Like">thumb_up_alt</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="setPostReaction(false)">
      <mat-icon [matBadge]="dislikesNumber" matBadgeColor="accent" matBadgeSize="medium"
        [matBadgeHidden]="dislikesNumber === 0" aria-label="Dislike">thumb_down_alt</mat-icon>
    </button>
    <button mat-icon-button color="accent" (click)="openShareDialog()">
      <mat-icon aria-label="Share">share</mat-icon>
    </button>
    <button mat-icon-button color="basic" (click)=" toggleComments()">
      <mat-icon matBadge="{{post.comments.length}}" matBadgeColor="warn" matBadgeSize="medium"
        [matBadgeHidden]="post.comments.length === 0" aria-label="Add comment">comment</mat-icon>
    </button>
  </mat-card-actions>
  <mat-card-actions align="end">
    <button class="likes-button" *ngIf="likesNumber !== 0" mat-button (click)="openLikesDialog()">Likes for...</button>
  </mat-card-actions>
  <mat-card *ngIf="showUpdate">
    <app-update-post [postUpdate]="postUpdate" (onUpdated)="updatePost($event)"></app-update-post>
  </mat-card>
  <div *ngIf="showComments">
    <mat-divider></mat-divider>
    <div class="new-comment">
      <mat-form-field>
        <textarea [(ngModel)]="newComment.body" matInput placeholder="Comment it..."></textarea>
      </mat-form-field>
      <button mat-icon-button color="primary" matTooltip="Send" (click)="sendComment()">
        <mat-icon aria-label="Send">send</mat-icon>
      </button>
    </div>
    <div *ngIf="post.comments.length > 0" class="comments-count">
      Just {{post.comments.length}} in all
    </div>
    <app-comment *ngFor="let _comment of post.comments" [comment]="_comment" [currentUser]="currentUser"></app-comment>
  </div>
</mat-card>
