<h2 mat-dialog-title class="title">Likes list</h2>
<div mat-dialog-content>
    <div *ngFor="let reaction of likes" class="like-author">
        <img mat-card-avatar src="{{reaction.user.avatar}}" alt="Avatar">
        <p>{{reaction.user.userName}}</p>
    </div>
</div>