<mat-card>
    <mat-card-header>
        <h2>Reset your password</h2>
    </mat-card-header>
    <form [formGroup]="passwordResetGroup" novalidate (ngSubmit)="resetPassword()">
        <mat-form-field>
            <input matInput formControlName="password" [type]="hidePass ? 'password' : 'text'" placeholder="Password" 
            [(ngModel)]="password">
            <mat-icon matSuffix (click)="hidePass = !hidePass">{{hidePass ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>
        <mat-form-field [color]="password !== passwordRepeat ? 'warn' : 'none'">
            <input matInput formControlName="passwordRepeat" [type]="hidePassRepeat ? 'password' : 'text'"
            placeholder="Repeat password" [(ngModel)]="passwordRepeat">
            <mat-icon matSuffix (click)="hidePassRepeat = !hidePassRepeat">{{hidePassRepeat ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>
    </form>
    <mat-card-actions>
        <button mat-raised-button (click)="backToHomePage()">Back</button>
        <button mat-raised-button color="primary" [disabled]="passwordResetGroup.invalid || password !== passwordRepeat"
        (click)="resetPassword()">Reset</button>
    </mat-card-actions>
</mat-card>