mat-card
    margin-top: 30px

mat-card-header h2
    display: block
    margin: 0px auto 15px

form
    width: 70%
    margin: 5px auto 15px

mat-form-field
    width: 100%

mat-card-actions
    display: flex
    flex-direction: row
    justify-content: center
    button
        margin: 0px 20px

